@import "./../../../styles/variables";

#magazine_panel {
  padding: 90px 0 0 0;

  .brand--image {
    width: 100px;
    margin: 0 10px;

    @media screen and (max-width: $mobile-768) {
      margin: 0 auto 15px auto;
    }
    @media screen and (min-width: $mobile-460) and (max-width: $mobile-768) {
      width: 180px;
    }
  }

  .list {
    display: flex;
    flex-flow: row wrap;

    @media screen and (max-width: $mobile-768) {
      justify-content: space-around;
    }
  }
}
