@import "./../../../styles/variables";

#question_panel {
  .global--title {
    margin: 20px;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
  }

  .global--subtitle {
    margin: 0 20px;
    text-align: left;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    font-family: avenirlight, Helvetica, Arial, sans-serif;
  }
}
