@import "./../../../styles/variables";

#footer_panel {
  .footer__secondary {
    padding: 32px;
    margin-top: 0;
    line-height: 1.25;
    box-sizing: border-box;
    background-color: $colorGrayDark;
    font-size: 12px;

    .brand--logo {
      width: 102px;
      margin: 0 auto;
    }
    .footer__copyright-text {
      width: 100%;
      margin-top: 8px;
      color: $colorGrayLight;
      font-size: 12px;
      text-align: center;
      line-height: 1.25;
      box-sizing: border-box;
      display: inline-block;
    }
  }
}
